.mark .country { 
	
}

.mark .country:hover { 
  stroke: #36c94d;
  stroke-width: 2px;
}

.mark .interiorBorders {
  fill: none;
  stroke: #1d1d1d67;
  stroke-width: 0.5px;
}

.mark .earthSphere {
  fill: #eeeeee;
}

.mark .graticule {
  fill: none;
  stroke: #cccccc;
}